<% content_for :head do %>
  <%= javascript_pack_tag :dashboard, defer: true %>
  <%= current_user_meta_tag %>
<% end %>

<nav>
  <h1>Dashboard</h1>
  <%= link_to "Logout", destroy_user_session_url %>
</nav>

<main>
  <div id="dashboard-container"></div>
</main>
